-var appname = 'PC-Tracker'
doctype 5
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{appname} - #{title}
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/screen.css')
    block stylessheets

  body
    div.container
      a(href='/clients'): h1= appname
      div.panel.panel-primary
        div.panel-heading
          i.fa.fa-desktop(aria-hidden='true')
          |&nbsp; #{title}
          
        div.panel-body
          block content
        div.panel-footer
          block footer
      
      footer
        p Developed for Ebenezer Techs by Guzmán D. Darío

      div.log-results

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
    script(src='/scripts/main.js')
    block scripts
